.check-result-set .toggle,
.check-result-set .check {
  font-size: 1.1rem;
  cursor: pointer;
}

.check-result-set form {
  display: inline-block;
}

.check-result-set .repository,
.check-result-set .pull-request {
  color: #a29684;
}

.check-result-set .pull-request {
  padding-left: 1em;
}

.check-result-set li input[type="checkbox"] {
  margin-left: 0.5em;
}

.check-result-set .heading {
  display: flex;
  place-content: space-between;
  align-items: center;
}

.check-result-set .status {
  text-transform: uppercase;
  font-weight: bold;
}

.check-result-set .status-pending {
  color: orange;
}

.check-result-set .status-in_progress {
  color: orange;
}

.check-result-set .status-complete {
  color: green;
}

.check-result-set .status-new {
  color: aqua;
}
