.check-result-set .toggle,
.check-result-set .check {
  font-size: 1.1rem;
  cursor: pointer;
}

.check-result-set form {
  display: inline-block;
}

.check-result-set .repository,
.check-result-set .pull-request {
  color: #a29684;
}

.check-result-set .pull-request {
  padding-left: 1em;
}

