<p>
  Total: <%= length(assigns.pull_requests) %>
</p>
<%= for pull_request <- assigns.pull_requests do %>
  <p><%= link "ID: #{pull_request.id}", to: pull_request_path(@conn, :show, pull_request.id) %></p>
<% end %>
