<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LaunchList</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script async src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <div class="container js-Pjax">
      <header class="header">
        <a href="/" class="logo">
          <h1>LaunchList</h1>
        </a>
        <div class="side-nav">
          <%= if user = current_user(@conn) do %>
            <span>
              <%= user.email %>
              <%= link("(Sign out)", to: auth_path(@conn, :delete), method: :delete, class: "logout") %>
            </span>
          <% else %>
            <%= link("Login with GitHub", to: auth_path(@conn, :request, "github")) %>
          <% end %>
        </div>

      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
