<%= if @current_user do %>
  <p>
    Welcome back, <%= @current_user.email %>
  </p>
  <p>
    <%= link("Logout", to: auth_path(@conn, :delete), method: :delete) %>
  </p>
  <p>
    <%= link("Pull Requests", to: pull_request_path(@conn, :index)) %>
  </p>
  <ul>
    <%= for repo <- @repositories do %>
      <li><%= repo.name %></li>
    <% end %>
  </ul>
<% else %>
  <%= link("Login with GitHub", to: auth_path(@conn, :request, "github")) %>
<% end %>
