html,
body {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fbf9f4;
  color: #504d48;
  line-height: 1.6;
}

header {
  border-bottom: 2px solid #e0d4b0;
  display: flex;
  align-items: center;
  place-content: space-between;
}
header a.logo {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited {
  color: #4475d6;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "-";
  padding-right: 0.5em;
  width: 1em;
}
