<%= for working_list <- assigns.working_list do %>
  <h1>
    <%= working_list["name"] %>
  </h1>
  <%= for check_list <- working_list["list"] do %>
    <h3><%= check_list["category"] %></h3>
    <ul>
      <%= for check <- check_list["checks"] do %>
        <li><%= check["check"] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
